.App {
  box-sizing: border-box;
  max-width: 320px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

body {
  background-color: black;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: 50%;
  height: auto;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  color: white;
  font-size: 0.7rem;
  line-height: 0.2em;
}

footer p a {
  color: rgb(164, 0, 197);
  text-decoration: none;
}
